{{- $author := "nlp" -}}
{{- $git_author := "" -}}

{{- $url := slice -}}
{{ printf "%#v" $url }}
{{- if .GitInfo -}}
  {{- $git_author = .GitInfo.AuthorName -}}
  {{ $result := findRE "[亜-熙ぁ-んァ-ヶ]" $author }}
  {{ if $result }}
    {{- $author = "anikotaro" -}}
  {{- end -}}
  {{- $url = $url | append (printf "https://github.com/%s" $author) -}}
{{- end -}}

{{- if .Params.authors -}}
  {{- range (.GetTerms "authors") -}}

    {{- $url = $url | append .Permalink -}}

    {{ if in "suzuki" .Name }}
      {{- $author = "suzukiiichiro" -}}
    {{- end -}}
    {{ if or (eq "wyoshi" .Name) (eq "wYoshi" .Name) }}
      {{- $author = "wYoshi" -}}
    {{- end -}}

  {{- end -}}
{{- else if ne $author "nlp" -}}
  {{- $author = "anikotaro" -}}
{{- end -}}
{{ return (dict "name" $author "url" $url) }}