<!-- Use site subtitle by default -->
{{ $description := .Site.Params.sidebar.subtitle }}

{{ $title := .Title }}
{{ if .Params.slugTitle }}
  {{ $title = .Params.slugTitle }}
{{ end }}

{{- if eq .Kind "term" -}}
  {{- $_title := slice (title .Data.Singular) $title -}}
  {{- $title = printf "%s: %s" (index $_title 0) (index $_title 1) -}}
{{- end -}}

{{- if .Description }}
  <!-- Page description exists -->
  {{ $description = .Description }}
{{- else if .IsPage }}
  {{- if .Summary }}
    {{ $description = .Summary }}
  {{- else -}}
    {{ $description = printf "「%s」のページです。%s" $title $description }}
  {{- end -}}
  <!-- Use page summary -->
{{- else if .IsHome -}}
{{- else }}
  {{ $description = printf "「%s」のページです。%s" $title $description }}
{{- end }}

{{- if .IsHome -}}
{{- else -}}
  {{- if lt (len $description) 140}}
    {{ $description = printf "%s%s" $description .Site.Params.mergeDescription }}
  {{- end -}}
{{- end -}}

{{ return ($description | plainify)}}