<!-- Use site subtitle by default -->
{{ $description := .Site.Params.sidebar.subtitle }}

{{ $title := .Title }}
{{ if .Params.slugTitle }}
  {{ $title = .Params.slugTitle }}
{{ end }}

{{- if .Description }}
  <!-- Page description exists -->
  {{ $description = .Description }}
{{- else if .IsPage }}
  {{- if .Summary }}
    {{ $description = .Summary }}
  {{- else -}}
    {{ $description = printf "「%s」のページです。%s" $title $description }}
  {{- end -}}
  <!-- Use page summary -->
{{- else if .IsHome -}}
{{- else }}
  {{ $description = printf "「%s」のページです。%s" $title $description }}
{{- end }}

{{ return ($description | plainify)}}