<meta name="google-site-verification" content="UkPHZN1iNRRN6BWnpUWNpNbk1KXAKuS1_0kZRhu6ock" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PE15Z9ML80"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {{- $gid := "G-PE15Z9ML80" -}}
  {{ if .Params.image }}
  {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    //複数のディメンジョンを送信
    gtag('config', {{$gid}}, {
      'custom_map': {
         'dimension1': 'image_url',
      },
      'image_url': '{{ $image.permalink}}'
    });
  {{ else }}
    gtag('config', {{$gid}});
  {{ end }}
</script>
<!-- Google Adsence -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8689199204567424" crossorigin="anonymous"></script>
<!-- /Google Adsence -->

{{- $cat := "" -}}
{{- if .Params.categories -}}
  {{- range (.GetTerms "categories") -}}
    {{- $cat = . -}}
  {{- end -}}
{{- end -}}

{{- $item := . -}}
{{- $arr := slice -}}
{{- $arr = $arr | append .}}
{{- range $val := seq 3 -}}
  {{- if $item.Parent -}}
    {{- $item = $item.Parent -}}
    {{- $arr = $arr | append $item -}}
  {{- else if not $item.IsHome -}}
    {{- $item = $item.Site.Home -}}
    {{- $arr = $arr | append $item -}}
  {{- end -}}
{{- end -}}


<script type="application/ld+json">
[
{{- if eq "posts" .Type }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{- .Title -}},
  "mainEntityOfPage":{
    "@type": "WebPage",
    {{- with .Params.categories -}}
    "@id": {{- $cat.Permalink }}
    {{- else }}
    "@id": {{- .Site.BaseURL }}
    {{- end }}
  },
  {{- if .Params.image }}
  {{$image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
  "image": [{{-  $image.permalink | absURL  -}}],
  {{- end }}
  "datePublished": {{- .Date -}},
  "dateModified": {{- .Lastmod -}},
  "publisher": {
    "@type": "Organization",
    "name": {{- printf "%s - %s" .Site.Title .Site.Params.sidebar.subtitle -}},
    "logo": {
      "@type": "ImageObject",
      "url": {{- printf "%s%s" .Site.BaseURL .Site.Params.sidebar.avatar.src -}}
    }
  },
  "author": {
    "@type": "Person",
    "name": {{- (partial "data/author" .).name }},
    "url": {{- (partial "data/author" .).url }}
  }
},
{{- else if .IsHome -}}
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": {{ .Site.BaseURL }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": {{- printf "%ssearch/?keyword={search_term_string}" .Site.BaseURL }},
    "query-input": "required name=search_term_string"
  }
},
{{- end -}}
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {{ range $i, $item := $arr.Reverse }}
      {{- $title := $item.LinkTitle -}}
      {{- if $item.Params.slugTitle -}}
      {{- $title = $item.Params.slugTitle -}}
      {{- end -}}
      {
        "@type": "ListItem",
        "position": {{- add $i 1 }},
        "name": {{- $title -}},
        "item": {{- $item.Permalink }}
      }{{- if lt (add $i 1) (len $arr) -}},{{- end -}}
    {{ end }}
    ]
  }
]
</script>