<meta name="google-site-verification" content="ubfVHBKLOZAy4_yp8MHVUF8ubCuaX6rC8lRaZsbzTEE" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PE15Z9ML80"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {{- $gid := "G-PE15Z9ML80" -}}
  {{ if .Params.image }}
  {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    //複数のディメンジョンを送信
    gtag('config', {{$gid}}, {
      'custom_map': {
         'dimension1': 'image_url',
      },
      'image_url': '{{ $image.permalink}}'
    });
  {{ else }}
    gtag('config', {{$gid}});
  {{ end }}
</script>
<!-- Google Adsence -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8689199204567424" crossorigin="anonymous"></script>
<!-- /Google Adsence -->