<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel="icon" href="/assets/images/favicon/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/assets/images/favicon/icon-192x192.png">

{{- $description := partialCached "data/description" . .RelPermalink }}
<meta name='description' content='{{ $description }}'>

{{- $keywords := "" -}}
{{ if .Params.Tags }}
{{ $keywords = printf "%s," (delimit .Params.tags ", ") }}
{{ end }}
<meta name="keywords" content="{{$keywords}}Webデザイン,Webサイト開発,bash,CSS,サーバ">

{{- $title := partial "data/title" . .RelPermalink}}
<title>{{- $title -}}</title>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}

{{- if .Paginator }}
{{- if .Paginator.HasPrev }}
<link rel="prev" href="{{ .Paginator.Prev.URL }}" />
{{- end }}
{{- if .Paginator.HasNext }}
<link rel="next" href="{{ .Paginator.Next.URL }}" />
{{- end }}
<link rel='canonical' href='{{ .Paginator.First.URL }}'>
{{- else }}
<link rel='canonical' href='{{ .Permalink }}'>
{{- end }}

{{ partial "head/opengraph/include.html" . }}

{{- range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
