{{ if .context }}
{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<article class="{{ if $image.exists }}has-image{{ end }}">
  <a href="{{ .context.RelPermalink }}">
    {{ if $image.exists }}
    <div class="article-image">
      {{ if $image.resource }}

      {{- $Permalink := $image.resource.RelPermalink -}}
      {{- $Width := $image.Width -}}
      {{- $Height := $image.Height -}}
      {{- $Srcset := "" -}}
      {{- if (default true .context.Site.Params.imageProcessing.cover.enabled) -}}
        {{- $thumbnail := $image.resource.Resize "100x" -}}
        {{- $thumbnailRetina := $image.resource.Resize "200x" -}}
        {{- $thumbnailSP := $image.resource.Resize "50x" -}}

        {{- $Srcset = printf "%s 1x, %s 2x" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
        {{- $SrcsetSP := printf "%s 1x, %s 2x" $thumbnailSP.RelPermalink $thumbnail.RelPermalink -}}

        {{- $Permalink = $thumbnail.RelPermalink -}}
        {{- $Width = $thumbnail.Width -}}
        {{- $Height = $thumbnail.Height -}}

        <picture class="picture">
          <source src="{{ $thumbnail.RelPermalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} media="(min-width: 769px)" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" />
          <source src="{{ $thumbnailSP.RelPermalink }}" {{ with $SrcsetSP }} srcset="{{ . }}" {{ end }} media="(max-width: 768px)" width="{{ $thumbnailSP.Width }}" height="{{ $thumbnailSP.Height }}" />
          <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}" loading="lazy" alt="{{ .context.Title }}" />
        </picture>
        <!-- <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}" loading="lazy" alt="Featured image of post {{ .Title }}" /> -->
      {{- end -}}
      <!-- <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}" loading="lazy" alt="Featured image of post {{ .Title }}" /> -->
      {{ else }}
      <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}" />
      {{ end }}
      {{/*
      <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}" />
      */}}
    </div>
    {{ end }}
    <div class="article-details">
      <h4 class="article-title">{{- .context.Title -}}</h4>
      <p class="text">
      {{- if .context.Params.description -}}
        {{- with .context.Params.description -}}
          {{- substr . 0 45 -}}
        {{- end -}}
      {{- else -}}
        {{- substr .context.Summary 0 45 -}}
      {{- end -}}
      ...</p>
    </div>
  </a>
</article>
{{ end }}