{{ if .context }}
{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<div class="article {{ if $image.exists }}has-image{{ end }}">
  <a href="{{ .context.RelPermalink }}">
    {{ if $image.exists }}
    <div class="article-image">
      {{ if $image.resource }}
        {{- $Permalink := $image.RelPermalink -}}
        {{- $Width := $image.Width -}}
        {{- $Height := $image.Height -}}

        {{- $thumbnail := $image.resource.Resize "50x" -}}
        {{- $thumbnailRetina := $image.resource.Resize "100x" -}}

        {{- $Srcset := printf "%s 1x, %s 2x" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}

        {{- $Permalink = $thumbnail.RelPermalink -}}
        {{- $Width = $thumbnail.Width -}}
        {{- $Height = $thumbnail.Height -}}

        <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}"  alt="{{ .context.Title }}" />

      {{ else }}
        <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}" />
      {{ end }}
      {{/*
      <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}" />
      */}}
    </div>
    {{ end }}
    <div class="article-details">
      <h4 class="article-title">{{- .context.Title -}}</h4>
    </div>
  </a>
</div>
{{ end }}