{{- $query := first 1 (where .Site.Pages "Layout" "==" "archives") -}}
{{- if $query -}}
    {{- $archivesPage := index $query 0 -}}
    <section class="widget archives">
        <h2 class="widget-title section-title">{{ T "widget.archives.title" }}</h2>

        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
        {{ $filtered := ($pages | intersect $notHidden) }}
        {{ $archives := $filtered.GroupByDate "2006" }}
        
        <select name="archives" id="select-archives">
            <option value="">月を選択</option>
            {{ range $index, $item := first (add .Site.Params.widgets.archives.limit 1) ($archives) }}
                {{- $id := lower (replace $item.Key " " "-") -}}
                <option value="{{ $archivesPage.RelPermalink }}#{{ $id }}">
                        {{ if eq $index $.Site.Params.widgets.archives.limit }}
                            {{ T "widget.archives.more" }}
                        {{ else }}
                            {{ .Key }}（{{ len $item.Pages }}）
                        {{ end }}
                </option>
            {{ end }}
        </select>
    </section>
{{- else -}}
    {{- warnf "Archives page not found. Create a page with layout: archives." -}}
{{- end -}}