{{ $json := getJSON "https://script.google.com/macros/s/AKfycbw3wm1sNh16M4DACO_PUR29YeNFnbOECyv73_zyWw-oVy4uwRGYrDcZRP_9a7fzJVN70w/exec?s=day" }}

{{ if eq (len $json) 0}}
{{ $json = getJSON "https://script.google.com/macros/s/AKfycbxqc0iU9zVEirfprKqut3Hgb1a-p4g88BWuj2Avk6Vud2XWJRYvdLl8F7ZgnOQUrt2UFA/exec?s=month" }}
{{ end }}

<aside class="widget archives sidearticle-contents--wrapper" id="popular-articles">
  <h2 class="section-title">人気コンテンツ</h2>
    <div class="sidearticle-contents">
      <div class="flex article-list--tile">
        {{ $page := .Site.Pages }}
        {{ range first .Site.Params.widgets.populerArticles.limit $json }}
          {{ $article := index (where $page ".RelPermalink" "eq" .link ) 0  }}
          {{ if $article }}
            {{ partial "article-list/tile" (dict "context" $article "size" "400x238" "Type" "articleList") }}
          {{ end }}
        {{ end }}
    </div>
  </div>
</aside>