{{ $json := getJSON "https://script.google.com/macros/s/AKfycbw3wm1sNh16M4DACO_PUR29YeNFnbOECyv73_zyWw-oVy4uwRGYrDcZRP_9a7fzJVN70w/exec?s=month" }}

<section class="widget archives sidearticle-contents--wrapper" id="popular-articles--month">
  <div class="contents-area">
    <header>
      <button type="button" onclick="document.body.classList.remove('show-menu');">CLOSE</button>
      <h2 class="section-title">最近人気の記事</h2>
    </header>
    <div class="sidearticle-contents">
      <div class="flex article-list--tile">
        {{ $page := .Site.Pages }}
        {{ range first .Site.Params.widgets.populerArticles.limit $json }}
          {{ $article := index (where $page ".RelPermalink" "eq" .link ) 0  }}
          {{ if $article }}
            {{ partial "article-list/tile" (dict "context" $article "size" "400x238" "Type" "articleList") }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>