@charset 'utf-8';

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);
@mixin respond($breakpoint) {
  @if not map-has-key($breakpoints, $breakpoint) {
    @warn "'#{$breakpoint}' is not a valid breakpoint";
  } @else {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
@import "./_include/partials/menu.scss";
// @import "partials/article.scss";
@import "./_include/partials/widgets.scss";
// @import "partials/footer.scss";
// @import "./_include/partials/pagination.scss";
@import "./_include/partials/sidebar.scss";
// @import "partials/base.scss";
// @import "partials/layout/archives.scss";
@import "./_include/partials/layout/article.scss";
// @import "partials/layout/list.scss";
// @import "partials/layout/404.scss";
@import "./_include/partials/layout/search.scss";