{{ define "body-class" }}template-archives{{ end }}

{{ define "main" }}
    {{ partialCached "article/components/breadcrumb" . .RelPermalink }}
    {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
    {{- $terms := $taxonomy.Pages -}}

    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{- $title := .Title -}}
    {{- if .Params.slugTitle -}}
      {{- $title = .Params.slugTitle -}}
    {{- end -}}
    <h1 class="title">{{- $title -}}</h1>

    {{ range $filtered.GroupByDate "2006年01月" }}
      {{ $id := lower (replace .Key " " "-") }}
      <div class="archives-group" id="{{ $id }}">
          <h2 class="archives-date section-title"><a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a></h2>
          <div class="article-list">
              {{ range $index, $element := .Pages }}
              {{ partial "article/components/header" . }}
              {{ end }}
          </div>
      </div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8689199204567424"
     crossorigin="anonymous"></script>
<!-- archives -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8689199204567424"
     data-ad-slot="9042941451"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      {{ end }}
{{ end }}

{{ define "right-sidebar" }}
{{ partialCached "sidebar/right.html" . }}
{{ end }}