{{ define "title" }}
{{- .Site.Title -}}
{{ end }}
{{ define "main" }}
{{ "<!-- _default/index.html start -->" | safeHTML }}
<h1>{{ .Site.Title }}</h1>
{{ .Content }}
<ul>
{{ range .Site.RegularPages -}}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end -}}
</ul>
<h2>最近更新された記事</h2>
<ul>
  {{ range first 5 .Site.RegularPages.ByLastmod.Reverse }}
    <li>
      <b><a href="{{.RelPermalink}}">{{.Title}}</a></b>
      <time>{{.Lastmod.Format "2006-01-02"}}</time>
    </li>
  {{ end }}
</ul>

{{ "<!-- _default/index.html end -->" | safeHTML }}
{{ end }}
