{{ define "main" }}
  {{ partialCached "article/components/breadcrumb" . .RelPermalink }}

<div class="section-card">
  <div class="section-details">
    <div class="section-title-area">
      <h1 class="section-term">{{ .Title }}<span class="section-count">{{ T "list.page" (len .Pages) }}</span></h1>
    </div>
    {{ with .Params.description }}
    <h2 class="section-description">{{ . }}</h2>
    {{ end }}
  </div>
  {{- $image := partialCached "helper/image" (dict "Context" . "Type" "section") .RelPermalink "section" -}}
  {{ if $image.exists }}
  <div class="section-image">
    {{ if $image.resource }}
    {{- $Permalink := $image.resource.RelPermalink -}}
    {{- $Width := $image.resource.Width -}}
    {{- $Height := $image.resource.Height -}}
    {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
    {{- $thumbnail := $image.resource.Fill "120x120" -}}
    {{- $Permalink = $thumbnail.RelPermalink -}}
    {{- $Width = $thumbnail.Width -}}
    {{- $Height = $thumbnail.Height -}}
    {{- end -}}
    <img src="{{ $Permalink }}" width="{{ $Width }}" height="{{ $Height }}" loading="lazy">
    {{ else }}
    <img src="{{ $image.permalink }}" loading="lazy" />
    {{ end }}
  </div>
  {{ end }}
</div>
{{- $subsections := .Sections -}}
{{- $pages := .Pages | complement $subsections -}}
{{- if eq (len $pages) 0 -}}
{{/* If there are no normal pages, display subsections in list style, with pagination */}}
{{/* This happens with taxonomies like categories or tags */}}
{{- $pages = $subsections -}}
{{- $subsections = slice -}}
{{- end -}}
{{- with $subsections -}}
<h2 class="section-title">{{ T "list.subsection" (len $subsections) }}</h2>
<div class="subsection-list">
  <div class="article-list--tile">
    {{ range . }}
    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section") }}
    {{ end }}
  </div>
</div>
{{- end -}}
{{/* List only pages that are not a subsection */}}
{{ $paginator := .Paginate $pages }}
<section class="article-list">
  {{ range $i, $el := $paginator.Pages }}
    {{- if eq $i 3 -}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8689199204567424"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gd-2h+9j-9f-6v"
     data-ad-client="ca-pub-8689199204567424"
     data-ad-slot="4087990064"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {{- end -}}
  {{ partial "article/components/header" . }}
  {{ end }}
</section>
{{- partial "pagination.html" . -}}
{{ partialCached "footer/footer" . }}
{{ end }}
{{ define "right-sidebar" }}
{{ partialCached "sidebar/right.html" . }}
{{ end }}