{{ define "body-class" }}
    article-page
{{ end }}

{{ define "container-class" }}
    on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}
{{ end }}

{{ define "main" }}
    <article class="{{ if .Params.image }}has-image {{ end }}main-article">
      {{ partialCached "article/components/details_page" . .RelPermalink }}
      {{ partial "article/components/content" . }}
      {{ partial "article/components/footer" . }}
    </article>

    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}
    {{ partialCached "article/components/photoswipe" . }}

{{ end }}

{{ define "left-sidebar" }}
    {{ partial "sidebar/left.html" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}
