{{ define "body-class" }}template-archives{{ end }}


{{ define "main" }}
  {{- $title := .Title -}}
  {{- if .Params.slugTitle -}}
      {{- $title = .Params.slugTitle -}}
  {{- end -}}

  <div class="archives-group terms-top">
    <h1 class="title">{{- $title -}}</h1>
    {{- $lists := .Data.Terms.Alphabetical -}}
    <nav id="terms-nav">
      <ul>
        {{- range $lists }}
        <li><a href="#{{ .Name }}">{{- .Name -}}</a></li>
        {{ end }}
      </ul>
    </nav>
    {{- range $lists }}
    <section id="{{ .Name }}">
      <h2 class="archives-date section-title">{{- .Name -}}</h2>
      <div class="article-list related-contents--wrapper">
        <div class="article-list">
          {{ range first 3 .Pages }}
            {{ partial "article-list/default" . }}
          {{ end }}
        </div>
      </div>
      <div class="link-btns"><a href="{{- .Page.Permalink -}}">{{ .Name }}をもっと見る</a></div>
    {{- end -}}
    </section>
  </div>
{{ end }}

{{ define "right-sidebar" }}
{{ partialCached "sidebar/right.html" . }}
{{ end }}