.article-title {
  font-size: 1.6em;
  @include mq(smp) {
    font-size: 1.2em;
  }
}
.article-subtitle {
  font-size: 0.9em;
}
.article-time {
  margin-top: 25px;
  svg {
    width: 0.7em;
    height: 0.7em;
  }
  time {
    font-size: 0.7em;
  }
}
.article-time--item {
  background: no-repeat left center;
  background-size: auto 1.2em;
  padding-left: calc(1.2em + 5px);
  &.article-time--published {
    @include icon("M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1", '999999');
  }
  &.article-time--updatedate {
    @include icon("M19,3H18V1H16V3H8V1H6V3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H10V19H5V8H19V9H21V5A2,2 0 0,0 19,3M21.7,13.35L20.7,14.35L18.65,12.35L19.65,11.35C19.85,11.14 20.19,11.13 20.42,11.35L21.7,12.63C21.89,12.83 21.89,13.15 21.7,13.35M12,18.94L18.07,12.88L20.12,14.88L14.06,21H12V18.94Z", '999999');
  }
  &.article-time--reading {
    padding: 0;
  }
  &.article-time--author {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    .icon {
      width: 1.5em;
      height: 1.5em;
      background: no-repeat center center;
      background-size: cover;
      margin-right: 5px;
      border-radius: 50%;
    }
    @include mq(smp) {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.article-category {
  a {
    color: var(--card-text-color-secondary);
    background-color: transparent;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 0;
    font-size: 0.8em;
  }
}
.article-tags {
  @extend .article-category;
}
.article-page {
  .main-article {
    box-shadow: none;
    figcaption {
      display: none;
    }
    .article-header {
      @include mq(smp) {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        .article-category {
          margin-bottom: 5px;
          background-color: #34495e;
          padding: 2px 12px;
          line-height: 1;
          font-weight: bold;
          border-radius: 8px;
          a {
            color: #FFF !important;
          }
        }
      }
      .article-details {
        padding: 0;
      }
    }
    .article-footer {
      .article-tags {
        @extend .article-category;
        font-size: 0.8rem;
        a {
          border-radius: 2px;
          font-size: 1em;
          background-color: var(--accent-color);
          color: var(--accent-color-text);
        }
      }
    }
    .article-pager {
      display: flex;
      flex-direction: column;
      margin: 20px 30px;
      .article-pager-item  {
        ~ .article-pager-item  {
          margin-top: 20px;
        }
      }
      .article {
        a {
          display: flex;
          background: no-repeat 0 center;
          padding-left: 30px;
          @include icon("M22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12M14,7L9,12L14,17V7Z", "999999");
          background-size: 0.9em auto;
          .article-image {
            width: 80px;
            height: 45px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: auto;
            }
          }
          .article-details {
            margin-left: 10px;
            padding: 0;
            .article-title {
              font-weight: normal;
              font-size: 0.9rem;
            }
          }
        }
      }
      .article-pager--prev {
        .article {
          a {
            flex-direction: row-reverse;
            background-position: 100% center;
            padding-right: 30px;
            padding-left: 0;
            @include icon("M2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12M4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12M10,17L15,12L10,7V17Z", "999999")
            .article-details {
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
.article-list {
  article {
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 0;
    &.item-new {
      .article-title {
        display: flex;
        align-items: flex-start;
        @include mq(smp) {
          flex-direction: column;
        }
        &:before {
          content: "NEW";
          background-color: #e74c3c;
          color: #FFF;
          padding: 3px 5px;
          margin-right: 5px;
          font-size: 0.7rem;
          border-radius: 4px;
          @include mq(smp) {
            font-size: 0.5rem;
            margin: 0 0 5px;
          }
        }
      }
    }
    ~ {
      article {
        border-top: 1px solid rgba(255,255,255,0.1);
      }
    }
    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0 3px 10px rgba(0,0,0,0.3);
      z-index: 1;
    }
    .article-link {
      padding: 15px;
      position: relative;
      display: flex;
      flex-direction: row;
      z-index: 0;
      @include mq(min) {
        flex-direction: column;
      }
      @include mq(tab) {
        flex-direction: column;
      }
      @include mq(smp) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .article-header {
        margin: 0;
        position: relative;
        @include mq(smp) {
          width: 100%;
          margin-bottom: 10px;
        }
        .article-image {
          width: 200px;
          height: calc(200px / 1.68);
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(0,0,0,0.1);
          @include mq(min) {
            width: 100%;
            height: calc(100% / 1.68);
            margin-bottom: 20px;
          }
          @include mq(tab) {
            width: 100%;
            height: calc(100% / 1.68);
          }
          @include mq(smp) {
            width: 100%;
            height: calc(100% / 1.68);
          }
          .picture {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            height: 100%;
          }
          img {
            object-fit: contain;
            @include mq(smp) {
              object-fit: cover;
            }
          }
        }
        .article-category {
          position: absolute;
          right: 0;
          top: 10px;
          font-size: 0.6em;
          margin: 0;
          .article-category-item {
            padding: 2px 5px;
            color: var(--card-text-color);
            position: relative;
            overflow: hidden;
            z-index: 1;
            display: block;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            font-weight: bold;
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            &:after {
              z-index: -1;
              display: block;
              position: absolute;
              background-color: var(--tag-back);
              backdrop-filter: blur(2px);
              -webkit-backdrop-filter: blur(2px);
              content: "";
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
      .article-details {
        padding: 0;
        margin-left: 15px;
        flex: 1;
        @include mq(tab) {
          margin: 10px 0 0;
        }
        @include mq(smp) {
          font-size: 0.8rem;
          margin: 0 5px 0;
        }
        .article-title {
          font-size: 1rem;
          line-height: 1.4;
          margin: 0 0 15px;
          @include mq(smp) {
            font-size: 1.2em;
            margin-bottom: 5px;
          }
        }
        .article-subtitle {
          font-size: 0.7em;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          @include mq(smp) {
            line-height: 1.4;
            margin: 0;
            padding: 0;
            font-size: 0.8em;
            color: var(--card-text-color-tertiary);
            @include mq(smp) {
              -webkit-line-clamp: 5;
            }
          }
        }
        .article-time {
          margin: 0 0 5px;
        }
      }
    }
  }
}
.main-article {
  .article-details {
  }
  .article-content {
    margin-top: 0;
    line-height: 2;
    @include mq(smp) {
      padding-left: 15px;
      padding-right: 15px;
    }
    h2 {
      margin-top: 0;
      background-color: var(--card-separator-color) !important;
      border: none;
      padding: 15px 25px;
      font-size: 1.2em;
      color: var(--card-text-color);
      border-radius: 2px;
      @include mq(smp) {
        font-size: 1em;
        padding: 15px;
      }
      ~ h2 {
        margin-top: 3em;
      }
    }
    h3 {
      border: none;
      padding: 0;
    }
    .copyCodeButton {
      top: 0;
      padding: 5px 10px;
      border-radius: 2px;
      font-size: 0.8em;
    }
    iframe {
      min-height: 300px;
    }
  }
  .article-header {
    display: flex;
    align-items: center;
    .article-category {
      a {
        padding: 0;
        margin: 0;
        &:hover {
          text-decoration: underline;
          color: var(--card-text-color-secondary);
          background-color: transparent;
        }
      }
      margin-right: 10px;
      &:after {
        content: "/";
        opacity: 0.3;
        color: var(--card-text-color-secondary);
        @include mq(smp) {
          display: none;
        }
      }
    }
    .article-info {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: var(--card-text-color-secondary);
      .article-time--item {
        margin: 0;
        ~ .article-time--item {
          margin-left: 20px;
        }
      }
    }
  }
}

.article-content {
  h2, h3, h4, h5, h6 {
    + p {
      margin-top: 0;
    }
  }
  pre {
    code {
    }
  }
  p {
    > code {
      background-color: #333;
      border-radius: 2px;
      color: #FFF;
      margin: 0 5px;
    }
  }
  > dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      margin: 0;
      padding: 5px;
      width: 10em;
      font-weight: bold;
      ~ dt {
        margin-top: 10px;
      }
    }
    dd {
      margin: 0;
      padding: 5px;
      width: calc(100% - 10em);
      line-height: 1.4;
      ~ dd {
        margin-top: 10px;
      }
    }
  }
}

.gallery {
  a {
    &[href*="gif"] {
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: "";
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 50%;
        background: #e74c3c no-repeat center center;
        @include icon("M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z", "FFFFFF");
        background-size: 68px;
        position: absolute;
      }
    }
  }
}

.code-block-header {
  position: relative;
  padding-top: 32px;

  &::before {
    content: attr(data-lang);
    background: darken(#f6f8fa, 8%);
    color: darken(#f6f8fa, 50%);
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 1px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.tableOfContents {
  padding: 0 25px 0;
  @include mq(smp) {
    padding: 0 15px 0;
  }
  .section-title {
    font-size: 1rem;
    padding: 10px 25px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  #btn-closeTOC {
    margin-left: auto;
    padding: 10px;
    border: none;
    background: no-repeat center center;
    @include icon("M19,13H5V11H19V13Z");
    width: 1em;
    height: 1em;
    &:hover {
      cursor: pointer;
    }
  }
  .widget--toc {
    box-shadow: none;
    #TableOfContents {
      overflow: visible;
      max-height: inherit;
      background-color: var(--body-background);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border: 1px solid var(--card-separator-color);
      ul, ol {
        margin: 0;
        padding: 20px 20px 15px;
        font-size: 1rem;
        line-height: 1.3;
        li {
          padding: 5px;
          margin: 0;
          a {
            padding: 2px 8px;
          }
          ul, ol {
            padding: 10px 1.5em 5px;
          }
        }
      }
    }
  }
  &.closeTOC {
    .widget--toc {
      display: none;
    }
    #btn-closeTOC {
      @include icon("M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z");
    }
  }
}


[data-scheme="dark"] {
  .tableOfContents {
    &.closeTOC {
      #btn-closeTOC {
        @include icon("M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z", "FFF");
      }
    }
    #btn-closeTOC {
      @include icon("M19,13H5V11H19V13Z", "FFF");
    }
  }
}


.tips-area {
  border-radius: 4px;
  background-color: #EFEFEF;
  ~ .tips-area {
    margin-top: 10px;
  }
  dl {
    margin: 0;
    padding: 10px;
    text-indent: 0;
    dt {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        background: no-repeat 0 0;
        width: 1.2em;
        height: 1.2em;
        margin-right: 5px;
        background-size: contain;
        @include icon("M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10M6,7H18V9H6V7M6,11H15V13H6V11Z", "999999");
      }
    }
    dd {
      line-height: 1.6;
      font-size: 0.9em;
      margin: 0;
      margin-left: calc(1.2em + 8px);
      padding: 0;
      color: #333;
    }
  }
  &.tips {
    background-color: #e5f8e2;
    dt {
      color: #12803e;
      &:before {
        @include icon("M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z", "1DCD63");
      }
    }
  }
  &.info {
    background-color: #E8F7FA;
    dt {
      color: #006f80;
      &:before {
        @include icon("M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z", "00B8D4");
      }
    }
  }
  &.warn {
    background-color: #fdf9e2;
    dt {
      color: #b36602;
      &:before {
        @include icon("M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z", "FF9001");
      }
    }
  }
  &.alert {
    background-color: #fbefee;
    dt {
      color: #d60a34;
      &:before {
        @include icon("M8.27,3L3,8.27V15.73L8.27,21H15.73L21,15.73V8.27L15.73,3M8.41,7L12,10.59L15.59,7L17,8.41L13.41,12L17,15.59L15.59,17L12,13.41L8.41,17L7,15.59L10.59,12L7,8.41", "F50057");
      }
    }
  }
}


.article-list--compact {
  article {
    .article-image {
      border: none !important;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.article-info {
  @include mq(smp) {
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
    .article-time--item {
      margin-left: 0 !important;
      font-weight: normal;
    }
  }
}

.terms-top {
  > .title {
    font-size: 1.4rem;
    padding: 0 20px;
  }
  #terms-nav {
    padding: 10px 20px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9rem;
      li {
        line-height: 1;
        margin: 0 8px 8px 0;
        padding: 6px 12px;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        a {
          color: var(--card-text-color-secondary);
          display: block;
        }
      }
    }
  }
  .archives-date {
    &.section-title {
      padding: 10px;
    }
  }
  .related-contents--wrapper {
    margin: 0 2px;
    padding: 0 20px;
    .article-list {
      article {
        width: calc(100% / 3);
      }
    }
  }
}


.article-list--tile {
  .has-image {
    .article-image {
      .picture {
        width: 100%;
      }
      img{
        height: inherit;
      }
    }
  }
}


:root {
  --profile-background: rgba(0, 0, 0, 0.03);
}
:root[data-scheme=dark] {
  --profile-background: rgba(0,0,0,0.1);
}
.profile-area {
  margin: 0px;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--profile-background);
  color: var(--card-text-color-main);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profile-bio-area {
    margin: 10px 0;
    flex: 1;
    font-size: 0.9rem;
    .profile-name {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1.2rem;
    }
    a {
      font-weight: 1rem;
      display: inline-flex;
      margin: 10px 0 0;
      background-color: #34495e;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      padding: 10px;
      border-radius: 8px;
      color: #FFF;
      font-weight: bold;
      display: block;
      text-align: center;
      &:hover {
        box-shadow: none;
      }
    }
  }
}