// .pagination {
//   margin: 20px 0 40px;
//   justify-content: center;
//   box-shadow: none;
//   background-color: transparent;
//   .page-link {
//     padding: 5px 10px;
//     border-radius: 4px;
//     background-color: transparent;
//     border: 1px solid var(--pagenation-border);
//     color: var(--pagenation-text);
//     ~ .page-link {
//       margin-left: 10px;
//     }
//     &.current {
//       color: #FFF;
//       background-color: var(--pagenation-current);
//       border-color: var( --pagenation-border-current);
//     }
//   }
// }

.pagination-area {
  margin: 20px auto 40px;
  @include mq(smp) {
    display: block;
  }
  .pagination {
    justify-content: center;
    box-shadow: none;
    background-color: transparent;
    list-style: none;
    display: flex;
    margin: 0;
    overflow: hidden;
    padding: 0;
    align-items: center;
    @include mq(smp) {
    }
    li {
      ~ li {
        margin-left: 6px;
      }
      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
      &.dots-item {
        margin: 0;
        .dots {
          margin: 0;
          margin-right: -5px;
          padding: 10px;
        }
      }
      &.page-item {
        &.active {
          font-weight: bold;
          a {
            color: #FFF;
            background-color: var(--pagenation-current);
            border-color: var(--pagenation-border-current);
          }
        }
        a {
          padding: 5px 12px;
          border-radius: 4px;
          display: inline-flex;
          color: var(--card-text-color-secondary);
          border: 1px solid var(--pagenation-border);
          @include mq(smp) {
            font-size: 0.8rem;
            padding: 5px 8px;
            border: 1px solid #DDD;
          }
          &:hover {
            cursor: pointer
          }
        }
      }
      &.smp-nav--show {
        a {
          // border: none;
        }
      }
      @include mq(smp) {
        ~ li {
          margin-left: 5px;
        }
        &.smp-nav--show {
          display: inherit !important;
          a {
            border: 1px solid #DDD;
          }
        }
      }
    }
  }
}