.section-card {
  .section-term {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    .section-count {
      margin-left: 15px;
      font-size: 0.7em;
      &:before {
        content: "-";
        margin-right: 10px;
      }
    }
  }
}

.about-tags {
  margin: 20px 10px;
  dt {
    ~ dt {
      margin-top: 20px !important;
    }
  }
}