@import './_widget';

.section-title {
  font-size: 0.8rem;
  margin-bottom: 5px;
  background-color: var(--card-separator-color);
  padding: 5px 10px;
  color: var(--card-text-color-main);
}

#main-menu {
  margin-bottom: auto;
}
.menu-section {
  border-top: 2px solid var(--accent-color);
  padding: 10px 0;
  ~ .menu-section {
  }
  .menu {
    font-size: 0.9em;
    a {
      text-align: right;
    }
  }
}
#categories-menu {
  #link-category {
    margin-top: 20px;
    color: var(--card-text-color-main);
    text-align: right;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-bottom: 10px;
    align-items: flex-end;
    background: no-repeat 104% center;
    padding-right: 0.75em;
    @include icon("M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z");
    background-size: 1em auto;
    &:after {
      font-size: 0.7em;
      font-weight: normal;
      content: 'CATEGORIES';
    }
  }
  .menu {
    padding: 0;
  }
}
#btn-mode {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  .icon-tabler-toggle-left {
    fill: #999999;
  }
  #dark-mode-toggle {
    svg {
      width: 0.9rem;
    }
  }
  @include mq(smp) {
    display: none;
  }
}
.left-sidebar {
  background: var(--side-background);
  padding: 15px;
  @include mq(smp) {
    max-width: inherit !important;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .site-info {
    padding: 0;
    .site-avatar {
      width: 60px;
      height: inherit;
      @include mq(smp) {
        width: 30px;
        font-size: 1rem;
        .site-description {
          margin: 0;
          font-size: 0.6em;
        }
      }
      .site-logo {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
    }
    .site-description {
      margin: 0 0 10px;
    }
  }
}
.right-sidebar {
  display: block;
  padding: 15px;
}
.sidebar {
  .widget {
    &:not(:last-of-type) {
     &:after {
       display: none;
     }
    }
  }
}


.menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  .menu-list {
    font-weight: normal;
    font-size: 0.9em;
  }
}

@include mq(smp) {
  .menu {
    display: flex !important;
    flex-direction: row;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: inherit;
    li {
      padding: 0;
      display: flex;
      a {
        padding: 5px 10px;
        font-weight: bold;
      }
    }
  }
  #main-menu {
    overflow-x: scroll;
    margin-top: 10px;
    -ms-overflow-style: none; 
    font-size: 0.8rem;
    &::-webkit-scrollbar {
        display:none;
    }
    #main-menu-area {
      display: flex;
      white-space: nowrap;
      justify-content: flex-start;
      align-items: center;  
      width: fit-content;
      #link-category {
        margin: 0;
        padding: 0;
        display: none;
      }
    }
  }
  .menu-list {
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em !important;
  }
}

#toggle-menu {
  left: 0;
  top: 0;
  display: block;
  display: none !important;
  .hamburger-box {
    width: 24px;
    height: 24px;
    background: no-repeat center center;
    @include icon("M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z");
    background-size: 100% auto;
    .hamburger-inner {
      display: none;
      &:before {
        display: none;
      }
    }
  }
}
