.site-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  .site-description {
    font-size: 0.8em;
    line-height: 1.2;
    color: var(--card-text-color-main);
  }
}