<!-- Analytics -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
  import { getAnalytics, logEvent } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDuTc8tgNsMVZK0YbZbH_i23ESm9YT1Vx4",
    authDomain: "nlp-blog-927bd.firebaseapp.com",
    projectId: "nlp-blog-927bd",
    storageBucket: "nlp-blog-927bd.appspot.com",
    messagingSenderId: "469873098519",
    appId: "1:469873098519:web:9ae03fb6e0a40fbf06c152",
    measurementId: "G-4P6WX6R5CT"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  {{ if .Params.image }}
  {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
  logEvent(analytics, 'page_view', {
    content_type: 'images',
    image_url: '{{ $image.permalink}}',
  });
  {{ end }}
</script>
<!-- /Analytics -->



<!-- Google Adsence -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8689199204567424" crossorigin="anonymous"></script>
<!-- /Google Adsence -->
<script src="{{ (resources.Get "js/Custom.js").RelPermalink }}"></script>


<script>
let setFillHeight = () => {
  const vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
};
window.addEventListener('resize', setFillHeight);
setFillHeight();
</script>