{{ define "main" }}
  {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
  {{- $notHidden := where .Site.RegularPages "Params.hidden" "!=" true -}}
  {{- $filtered := ($pages | intersect $notHidden) -}}
  {{- $pag := .Paginate ($filtered) -}}
  {{- $newest := (index $pages 0).Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
  <section class="article-list" data-new="{{- $newest -}}">
    {{- range $index, $element := $pag.Pages -}}
      {{- if eq $index 3 -}}
        {{- partial "ads/list-infeed" -}}
      {{- end -}}
      {{ partial "article-list/default" . }}
    {{- end -}}
  </section>
  {{ partial "pagination.html" . }}
  {{ partial "footer/footer" . }}
{{ end }}
{{- define "right-sidebar" -}}
  {{- partial "sidebar/right.html" . -}}
{{ end }}