{{ $last := time (.Lastmod.Format "2006-01-02") }}
{{ $date := time (.Date.Format "2006-01-02") }}
<div class="article-details arcile-single">
  <header class="article-header">
    {{ if .Params.categories }}
    <div class="article-category">
      {{ range (.GetTerms "categories") }}
      <a href="{{ .RelPermalink }}" {{ with .Params.style }} style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
        {{ .LinkTitle }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    <div class="article-info">
      {{- $author := partial "data/author" . }}
      <span class="article-time--item article-time--author">
       {{- if .Params.authors -}}
        {{- if ne "" .Params.authors -}}
        {{- if ne "nlp" $author.name -}}
        <span class="icon" style="background-image: url(https://github.com/{{- $author.name -}}.png)"></span>
        {{- end -}}
        {{- end -}}
       {{- end -}}
        <span class="name">
         {{- if .Params.authors -}}
           {{- range (.GetTerms "authors") -}}<a href="{{ .Permalink }}">{{- $author.name -}}</a>{{- end -}}
         {{- else }}
          {{- $author.name -}}
         {{- end -}}
        </span>
      </span>
      {{ if or (not .Date.IsZero) (.Site.Params.article.readingTime) }}
        {{ if not .Date.IsZero }}
        <time class="article-time--item article-time--published">
            {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
        </time>
        {{ end }}
        {{ if ne $last $date }}
        {{ if .Site.Params.dateFormat.lastUpdated }}
        <time class="article-time--item article-time--updatedate">
          {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </time>
        {{ end }}
        {{ end }}
        {{ if .Site.Params.article.readingTime }}
          <time class="article-time--item article-time--reading">
            {{ T "article.readingTime" .ReadingTime }}
          </time>
        {{ end }}
      {{ end }}
    </div>
  </header>
  <h1 class="article-title">
      {{ if .Params.slugTitle }}
        {{- .Params.slugTitle -}}
      {{ else }}
        {{- .Title -}}
      {{ end }}
  </h1>
</div>