{{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}


{{ $pdate :="" }}
{{ if not .Date.IsZero }}
  {{$pdate = .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") }}
{{ end }}

<article class="{{ if $image.exists }}has-image{{ end }} article-item" data-date="{{ $pdate }}">
  <a class="article-link" href="{{ .RelPermalink }}">
    <header class="article-header">
      {{ if $image.exists }}
      <div class="article-image">

        {{ if $image.resource }}
          {{- $Permalink := $image.resource.RelPermalink -}}
          {{- $Width := $image.resource.Width -}}
          {{- $Height := $image.resource.Height -}}
          {{- $Srcset := "" -}}

          {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
        
            {{- $thumbnail := $image.resource.Resize "200x" -}}
            {{- $thumbnailRetina := $image.resource.Resize "400x" -}}
          
            {{- $thumbnailSP := $image.resource.Resize "100x" -}}

            {{- $Srcset = printf "%s 1x, %s 2x" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
            {{- $SrcsetSP := printf "%s 1x, %s 2x" $thumbnailSP.RelPermalink $thumbnail.RelPermalink -}}

            {{- $Permalink = $thumbnail.RelPermalink -}}
            {{- $Width = $thumbnail.Width -}}
            {{- $Height = $thumbnail.Height -}}
            <picture class="picture">
              <source src="{{ $thumbnail.RelPermalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} media="(min-width: 769px)" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" />
              <source src="{{ $thumbnailSP.RelPermalink }}" {{ with $SrcsetSP }} srcset="{{ . }}" {{ end }} media="(max-width: 768px)" width="{{ $thumbnailSP.Width }}" height="{{ $thumbnailSP.Height }}" />
              <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}" loading="lazy" alt="{{ .Title }}" />
            </picture>
          {{- else -}}
            <img src="{{ $Permalink }}" {{ with $Srcset }} srcset="{{ . }}" {{ end }} width="{{ $Width }}" height="{{ $Height }}" loading="lazy" alt="{{ .Title }}" />
          {{- end -}}

        {{ else }}
        <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
        {{ end }}

        {{/*
        <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
       */}}
      </div>
      {{ end }}
      {{ if .Params.categories }}
      <div class="article-category">
        {{ range first 1 (.GetTerms "categories") }}
        <span class="article-category-item">
          {{ .LinkTitle }}
        </span>
        {{ end }}
      </div>
      {{ end }}
    </header>
    {{ partialCached "article/components/details" . .RelPermalink }}
  </a>
</article>