<article class="{{ if .Params.image }}has-image {{ end }}main-article">
  {{ partialCached "article/components/details_article" . .RelPermalink }}
  <div class="article-footer">
    {{ partial "article/components/tags" . }}
  </div>
  {{ partial "article/components/tableOfContents" . }}
  {{ partial "ads/detail" . }}
  {{ partial "article/components/content" . }}
  {{ partial "ads/detailUpperRelated" . }}
  {{ partial "article/components/related-contents" . }}
  {{ partial "article/components/footer" . }}
  {{ if or .Params.math .Site.Params.article.math }}
      {{ partialCached "article/components/math.html" . }}
  {{ end }}
  {{ partial "article/components/pager.html" . }}
</article>