<div class="amazon-box">
  <div class="three columns amazon-image">
    <a href="{{ .Get "url" }}" target="_blank">
      <img border="0" src="{{ .Get "imageUrl" }}">
    </a>
  </div>
  <div class="nine columns amazon-info">
    <a href="{{ .Get "url" }}" target="_blank">
      <p class="amazon-name">{{ .Get "title" }}</p>
    </a>
    <div>
    {{ .Get "summary" }}
    </div>
    <form>
      <input type="button" value="amazon" onClick="window.open('{{ .Get "url" }}','null')">
    </form>
  </div>
  <br>
</div>
